@import "base/mixins";
@import "base/veriables";
@import "base/resetCode";


/*=================HEADER SUBMENU LAYOUT DESIGN===============================*/

/*============= COMMON CSS CODES =================*/

%background-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

%flexDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*============= MAIN STRUCTURE CSS CODES =================*/

 
// header part design =====>

.header{
    transition: .4s all ease-in-out;
    &.whiteBg{
        background-color: $white-color;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    }
    .navbar{
        transition: .4s all ease-in-out;
        .main_menu{
            ul{
                li{
                    margin: 0 14px;
                    a{
                        @include fontStyle(15px,$link-color,600,1px);
                        display: inline-block;
                        transition: .3s all ease-in-out;
                        position: relative;
                        padding: 0 !important;
                        &.active,
                        &:hover{
                            color: $main-color;
                        }
                        &::after{
                            @include positionAbsolute(auto,0,auto,-2px);
                            content: '';
                            width:0px;
                            height: 2px;
                            background-color: $main-color;
                            transition: .3s all ease-in-out;
                        }
                        &.active::after,
                        &:hover::after{
                            width: 100%;
                        }
                    }
                }
            }
            #closeBtn{
                display: none;
                color: $red-color;
            }
        }
        &.mobile_navbar{
            .navbar-collapse{
                opacity: 1;
                visibility: visible;
                .main_menu{
                    transform: translateY(20px);
                    #closeBtn{
                        display: inline-block;
                        margin-left: 10px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

// hero_content part design =====>

.hero_content{
    position: relative;
    width:100%;
    max-height: 100vh;
    .carousel{
        
        .carousel-item{
            position: relative;
            img{
                @extend %background-img;
                height: 100vh;
            }
            .carousel-caption{
                @include positionAbsolute(50%,50%,auto,auto);
                transform: translate(-50%,-50%);
                h1{
                    font-size: $large-size;
                    font-weight: 300;
                }
            }
        }
        .carousel-control-next, 
        .carousel-control-prev {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: $hero_details !important;
            .carousel-control-next-icon, .carousel-control-prev-icon {
                display: inline-block;
                width: 18px;
                height: 18px;
        }
       
    }
    .carousel-control-next{
        right: 40px !important;
    }     
    .carousel-control-prev{
        left: 40px !important;
    }     

    }
}

// info_content part design =====>

.info_content{
    background-color: rgb(237, 237, 237);
    h2{
        font-size: $medium-small;
    }
    p{
        font-size: $small-size;
    }
}

// projects part design =====>

.projects,
.project_content{
    .single-project{
        position: relative;
        overflow: hidden;
        text-align: center;
        .project_link{
            display: block;
            position: relative;
            z-index: 1;
            img{
                width: 100%;
                max-height: 600px;
            }
            .project-details{
                @include positionAbsolute(50%,50%,auto,auto);
                transform: translate(-50%,-50%);
                z-index: 2;
                
                .like-counter{
                    @extend %flexDisplay;
                    transform: translateY(60px);
                    transition: .9s all ease-in-out;
                    column-gap: 6px;
                    color : $red-color;
                    opacity: 0;
                     visibility: hidden;
                }
                .details{
                    transform: translateY(60px);
                    transition: .5s all ease-in-out;
                    opacity: 0;
                     visibility: hidden;
                    h6{
                        text-transform: uppercase;
                        color:$dark-color;
                        font-size: $extra-small;
                        margin: 6px 0;
                    }
                    p{
                        color : $blue-color;
                    }
                }
            }
            &:hover{
                .like-counter{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
                .details{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
            &::after{
                @include positionAbsolute(0,0,0,0);
                content: "";
                background-color: $link-active;
                opacity: 0;
                width:100%;
                height: 100%;
                visibility: hidden;
                transition: .4s all ease-in-out;
            }
            &:hover::after{
                opacity: 1;
                visibility: visible;
            }
        }
        
        
        
       
    }
}

/*============= TEAM PAGE LAYOUT DESIGN =================*/

// team section  design =====>

.team{
    @extend %background-img;
    background-image: url('../img/section_2.png');
    .sectionDetails{
        h3{
            font-size: $font-18;
            font-weight: 600;
        }
    }
}

// single person card part design =====>


.single-person{
    .card{
        border: 0;
        .card-body{
           h4{
            a{
                @include fontStyle($normal-size,$dark-color,600,1px);
                transition: .3s all ease-in-out;
                &:hover{
                    color:$link-active;
                }
            }
           }
           p{
             @include fontStyle($extra-small,$link-active,400,1px);
             &.highlight{
                color: $fade-color;
             }
           }
        }
    }
}

/*============= PROJECT PAGE LAYOUT DESIGN =================*/

// project section  design =====>

.ourprojects{
    @extend %background-img;
    background-image: url('../img/section_2.png');
}

.project_content{
    .portfolio_items{
       li{
        display: inline-block;
        margin: 0 10px;
        color: $fade-color;
        font-size: $small-size;
        cursor: pointer;
        &.active,
        &.hover{
            color:$dark-color;
        }
       }
    }
    // .single-project{
       
    // }
}

// footer part design =====>



.footer{
    background-color: $dark-color;
    a,p{
        color: $fade-color;
        font-size: $small-size;
    }
    h6{
        text-transform: uppercase;
        @include fontStyle(17px,$white-color,600,1px)
    }
    .usefulLinks{
        ul{
            li{
                margin-bottom: 5px;
                a{
                    transition: .4s all ease-in-out;
                    text-transform: uppercase;
                    font-size: $extra-small;
                    &:hover{
                        color : $white-color;
                    }
                }
            }
        }
    } 
    .contact{
        a{
            transition: .3s all ease-in-out;
            &:hover{
                color:$main-color;
            }
        }
    }
    .social{
        form{
            .form-group{
                position: relative;
                display: grid;
                grid-template-columns: 1fr max-content;
                align-items: center;
                input{
                    height: 35px;
                    outline: none;
                    border: 0;
                    padding-left: 10px;
                }
                button{
                    background-color: $main-color !important;
                    height: 35px;
                    padding: 0 12px;
                    color:$white-color;
                }
            }
        }
        ul{
            li{
                display: inline-block;
                line-height: initial;
                margin-right: 4px;
                a{
                    @extend %flexDisplay;
                    width:35px;
                    height: 35px;
                    border-radius: 50%;
                    background-color:$fade-color;
                    color: $dark-color;
                    transition: .3s all ease-in-out;
                    &:hover{
                        background-color: $blue-color;
                        color: $white-color;
                    }
                    i{
                        font-size: 22px;
                    }
                }
            }
        }
    }
}


/*============= MOBILE DEVICE CSS CODES =================*/


// max width 1200px =====>

@media only screen and (max-width:1200px){
    .navbar{
        .navbar-collapse{
            position: fixed;
            top:0;
            left:0;
            right:0;
            bottom:0;
            display: block;
            background-color: rgba(0,0,0,0.5);
            z-index:1;
            opacity: 0;
            visibility: hidden;
            transition: .4s all ease-in-out;
            .main_menu{
                background-color: #fff;
                width: 340px;
                margin: 0 auto;
                padding: 40px 30px;
                transform: translateY(-200px);
                transition: .6s all ease-in-out;
                ul{
                    li{
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}