@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');

@import "veriables";
@import "mixins";
//reset code

*,
ul{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}

ul li{
    list-style: none;
}

.row{
    margin:0;
    padding: 0;
}

i{
    line-height: initial;
    font-size: 25px;
}

a{
    text-decoration: none;
}

button{
    outline: none !important;
    border: 0 !important;
    background-color: transparent !important;
    &:focus{
        box-shadow: none !important;
    }
}

section{
    padding:70px 0;
}

.title{
    @include fontStyle($medium-size,$link-color,600,0);
    text-transform: uppercase;
}

.subtitle{
    @include fontStyle(18px,$fade-dark,600,0);
    text-transform: uppercase;
}

.section_title{
    padding: 140px 0;
    background-color: $overlay;
}

.commonSec{
    min-width: 100%;
    height: 100vh;
    .sectionDetails{
        height: 100%;
        width: 100%;
        text-align: center;
        position: relative;
        h3{
            @include fontStyle($normal-size,$white-color,300,2px);
            text-transform: uppercase;
        }
        .scrollBtn{
            position: absolute;
            bottom:30px;
            left:50%;
            transform: translateX(-50%);
            background-color: $overlay !important;
            display: inline-block;
            padding:16px;
            border-radius: 50%;
            color:$white-color;
            transform: translateY(-30px);
            animation: scrollAnimation 1s  infinite;
            i{
                font-size: $medium-small !important;
            }
           
        }
        @keyframes scrollAnimation {
            0%{
               transform: translateY(-10px); 
            }
            50%{
               transform: translateY(-0px); 
            }
            
            100%{
               transform: translateY(-10px); 
            }
        }
    }
}

.pagination{
    .page-item{
        .page-link{
            color:$active-color;
            font-size: $extra-small;
            padding:.30rem .6rem;
            &.active{
                color:$white-color;
                background-color: $active-color;
                border-color: $active-color;
            }
            &:focus{
                box-shadow: none !important;
            }
        }
        
    }
}

.teamTitile{
    text-transform: uppercase;
    @include fontStyle($medium-size,$dark-color,300,2px);
    display: inline-block;
}

.teamSubtittle{
    text-transform: uppercase;
    @include fontStyle($font-24,$dark-color,300,2px);
    display: inline-block;
}

.underline{
    position: relative;
    &::after{
        @include positionAbsolute(auto,50%,auto,-14px);
        transform: translateX(-50%);
        content:"";
        width:70%;
        height: 2px;
        background-color: $active-color;
    }
}

::selection{
    background-color: $active-color;
    color: $white-color;
}


.scrollTopBtn{
    position: fixed;
    right:30px;
    bottom: 40px;
    background-color: $active-color !important;
    line-height: initial;
    padding:4px;
    border-radius: 3px;
    transition: .3s all ease-in-out;
    visibility: hidden;
    opacity: 0;
    &.showBtn{
        visibility: visible;
        opacity: 1;
    }
    i{
        line-height:initial;
        color:$white-color;
    }
}

