
// @forward  "veriables";
/*=============== COLOR CODES===================*/

    
$main-color: #4f49ac;
$link-color : #7c7979;
$link-active :#bcbcbc;
$white-color  : #fff;
$dark-color: #000000;
$fade-color :#303030;
$red-color: rgb(218, 94, 94);
$hero_details : rgba(0, 0, 0,.4);

/*=============== FONT SIZE ===================*/

    $normal-size : 16px;
    $small-size : 14px;
    $extra-small : 12px;


/*=============== FONT FAMILY ===================*/
