// @forward  "veriables";
/*=============== COLOR CODES===================*/

$link-color: #f8f9f9;
$active-color: #4154f1;
$white-color: #fff;
$dark-color: #2c3e50;
$fade-color: #7f8c8d;
$fade-overlay: rgba(255, 255, 255, 0.7);
$fade-dark: #424949;
$red-color: #fb5849;
$overlay: rgba(55, 68, 62, 0.4);
$footer-color: #f7f7f7;
$social-color: #dfdfdf;

/*=============== FONT SIZE ===================*/

$large-size: 68px;
$medium-size: 48px;
$medium-small: 30px;
$font-38: 38px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$normal-size: 16px;
$small-size: 14px;
$extra-small: 13px;

/*=============== FONT FAMILY ===================*/
