
// @forward  "veriables";
/*=============== COLOR CODES===================*/

    
$main-color: #55cfb1;
$link-color : #e0e0e0;
$link-active :#bcbcbc;
$white-color  : #fff;
$dark-color: #000000;
$fade-color :rgba(207, 207, 207, 0.8);
$fade-dark:#202020;
$red-color: rgb(218, 94, 94);
$blue-color: #544dc0;
$hero_details : rgba(55, 68, 62, 0.4);

/*=============== FONT SIZE ===================*/

    $large-size: 68px;
    $medium-size : 48px;
    $medium-small : 34px;
    $normal-size : 16px;
    $small-size : 14px;
    $extra-small : 13px;


/*=============== FONT FAMILY ===================*/
